<launch>
    
    <arg name="project" default="lio_sam"/>

    <!--当没有imu数据时，整个slam不会启动，rviz无任何显示-->
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_jxl.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />
 
    <!--we added map to odom static tf here, comment the published in code imuPreintegration.cpp, 50hz-->
    <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom"  args="0 0 0 0 0 0 /map /odom 20" /-->

    <!--- Run Navsat -->
    <!--include file="$(find lio_sam)/launch/include/module_navsat.launch" /-->

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
